<div class="modal fade" id="editBlockModal<%= block.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-bod">
        <%= simple_form_for([@session, block]) do |f| %>
          <%= f.hidden_field :block_id, { value: block.id }  %>
          <%= f.input :name, required: false %>
          <%= f.association :category, required: false %>
          <%= f.input :note %>
          <%= f.input :gear %>
          <%= f.input :rest_between_sets %>
          <div class="d-flex justify-content-center">
            <%= f.submit "Save", class: "btn-create" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
