<div class="collapse" id="collapseExample<%=block.id%>">
  <hr style="width:100%;text-align:left;margin-left:0">

  <% sets.reverse.each_with_index do |set, index| %>
  <%# SET INFO %>
    <div class="set-info">
      <%# SET NUMBER %>
      <p class="set-index"><%=(index + 1).ordinalize%> set</p>
      <div class="extra-set-fields">
        <%# SETS AND REPS %>
        <% if set.custom_field %>
          <% if (set.custom_field.keys & ['reps', 'repetitions', 'weight']).length >= 2 %>
            <p><%= "#{set.custom_field['reps']} x #{set.custom_field['weight']}"%></p>
          <% end %>
        <% end %>
        <%# OTHER SET FIELDS %>
        <% if set.distance =! ""  %>
          <p><%= "Distance: #{set.distance}"%></p>
        <% end %>
        <% if set.custom_field %>
          <% set.custom_field.each do |key, value| %>
            <p><%= key.capitalize %>: <%= value %></p>
          <% end %>
        <% end %>
      </div>
      <%# DELETE SET %>
      <%= link_to exercise_set_path(set),class: "btn-delete", data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } do %>
        <i class="fa-solid fa-circle-minus"></i>
      <% end %>
    </div>
  <% end %>
  <%# ADD SET %>
  <button type="button" class="btn btn-outline-dark" data-bs-toggle="collapse" data-bs-target="#collapseSet<%=block.id%>" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa-solid fa-circle-plus"></i> Set
  </button>
  <%# ADD SET FORM %>
  <%= render "partials/forms/add_set_form", :block => block, :@set => @set %>

  <hr style="width:100%;text-align:left;margin-left:0">
</div>
