<div class="collapse sets-extended-view" id="collapseExample<%=block.id%>">

  <% sets.sort_by(&:created_at).each_with_index do |set, index| %>
  <%# SET INFO %>
    <div class="set-info">
      <%# SET NUMBER %>
      <p class="set-index"><%=index + 1%></p>
      <div class="extra-set-fields">
        <%# REPS AND WEIGHT %>
        <% unless set.repetitions.nil? || set.repetitions.empty? || set.weight.nil? || set.weight.empty? %>
          <p><%= "#{set.repetitions} x #{set.weight}"%></p>
        <% end %>
        <%# OTHER SET FIELDS %>
        <% if set.distance =! ""  %>
          <p><%= "Distance: #{set.distance}"%></p>
        <% end %>
        <% unless set.custom_field.nil? || set.custom_field.empty? %>
          <% set.custom_field.each do |key, value| %>
            <p><%= key.capitalize %>: <%= value %></p>
          <% end %>
        <% end %>
      </div>
      <%# DELETE SET %>
      <%= link_to exercise_set_path(set),class: "btn-delete", data: { turbo_method: "delete"} do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    </div>
  <% end %>
  <%# ADD SET %>
  <button type="button" class="btn add-set-btn" data-bs-toggle="collapse" data-bs-target="#collapseSet<%=block.id%>" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa-solid fa-plus"></i> Set
  </button>
  <%# ADD SET FORM %>
  <%= render "partials/forms/add_set_form", :block => block, :@set => @set %>
</div>
