<% @blocks.each do |block| %>
  <%# START OF BLOCK CARD %>
  <div class ="block-card">
    <% sets = block.exercise_sets %>

    <%# HEADER %>
    <%= render "partials/show/header", :block => block %>

    <%# SETS %>
    <% if sets.length > 0 %>
      <%# OVERVIEW %>
      <%= render "partials/show/sets_and_reps_overview", :block => block, :sets => sets %>
      <%# SETS EXTENDED VIEW %>
      <%= render "partials/show/sets_extended_view", :block => block, :sets => sets %>
    <% end %>

    <div class="block-info">
      <%# EXTRA BLOCK FIELDS %>
      <div class="extra-block-fields">
        <%# NOTE %>
        <% unless block.note.nil? || block.note.empty? %>
          <p><i class="fa-solid fa-note-sticky"></i><%=block.note%></p>
        <% end %>
        <%# GEAR %>
        <% unless block.gear.nil? || block.gear.empty? %>
          <p><i class="fa-solid fa-gear"></i></i> <%= block.gear%></p>
        <% end %>
        <%# REST BETWEEN SETS %>
        <% unless block.rest_between_sets.nil? || block.rest_between_sets.empty? %>
          <p><i class="fa-solid fa-stopwatch"></i> <%= block.rest_between_sets%></p>
        <% end %>
        <% if block.custom_field.is_a?(Hash) %>
          <% block.custom_field.each do |key, value| %>
            <p><%= key.capitalize %>: <%= value %></p>
          <% end %>
        <% end %>
      </div>

      <%# EDIT AND DESTROY BLOCK%>
      <% if current_user == @session.user %>
          <%# DESTROY %>
          <%= link_to session_block_path(@session, block.id),class: "btn-delete", data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
          <%# EDIT BLOCK %>
          <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#editBlockModal<%= block.id %>">
            Edit Block
          </button>
          <%# EDIT BLOCK FORM %>
          <%= render "partials/forms/edit_block_form", :block => block, :@session => @session %>
      <% end %>
    </div>

  </div>
  <%# END OF BLOCK CARD %>
<% end %>
