<% @blocks.each do |block| %>
  <%# START OF BLOCK CARD %>
  <div class ="block-card">
    <% sets = block.exercise_sets %>

    <%# HEADER %>
    <div class = "block-header">
      <li><%= block.name %> <%="##{block.category.name}" if block.category%></li>
    </div>

    <%# SETS AND REPS %>
    <% if sets.length > 0 %>
      <p class = "block-sets-reps"><strong><%= "#{sets.length} x #{
        repetitions = sets.map { |set| set.repetitions }
        if repetitions.uniq.size <= 1
          repetitions[0]
        else
          repetitions.join("/")
        end
      }" %></strong><i class="fa-solid fa-angle-down"></i></p>

      <%# EXTENDED VIEW %>
      <hr style="width:100%;text-align:left;margin-left:0">


      <% sets.reverse.each do |set| %>
        <%# SETS AND REPS %>
        <p><%= "#{set.repetitions} x #{set.weight}Kg" if set.repetitions%></p>
        <%# EXTRA SET FIELDS %>
        <p><%= "Distance: #{set.distance}" if set.distance =! "" %></p>
        <p><%= "#{set.custom_field}" if set.custom_field%></p>
        <p>
          <%= link_to exercise_set_path(set),class: "btn-delete", data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </p>
      <% end %>

      <p><strong>Add Set</strong></p>
      <%= simple_form_for(@set) do |f| %>
          <%= f.hidden_field :block_id, { value: block.id }  %>
          <%= f.input :distance%>
          <%= f.input :weight %>
          <%= f.input :repetitions %>
          <%= f.submit 'Save', class: 'btn-main form-actions' %>
      <% end %>

      <hr style="width:100%;text-align:left;margin-left:0">

    <% end %>

    <%# EXTRA BLOCK FIELDS %>
    <p><%= "Note: #{block.note}" if block.note%></p>
    <p><%= "Gear: #{block.gear}" if block.gear%></p>
    <p><%= "Rest between sets: #{block.rest_between_sets}" if block.rest_between_sets%></p>
    <p><%= "#{block.custom_field}" if block.custom_field%></p>

    <%# EDIT AND DESTROY BLOCK%>
    <% if current_user == @session.user %>
      <div class="d-flex align-items-center">
        <%= link_to session_block_path(@session, block.id),class: "btn-delete", data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </div>
    <% end %>

  </div>
  <%# END OF BLOCK CARD %>
<% end %>
