<% @blocks.each_with_index do |block, index| %>
  <%# START OF BLOCK CARD %>
  <div class ="block-card">
    <% sets = block.exercise_sets %>

    <%# HEADER %>
    <%= render "partials/show/header", :block => block, :index => index, :sets => sets %>

    <%# SETS %>
    <% if sets.length > 0 %>
      <%# CATEGORY %>
        <% unless block.category.nil? || block.category.name.empty? %>
          <p class="block-category"><%=block.category.name if block.category%></p>
        <% end %>
      <%# SETS EXTENDED VIEW %>
      <%= render "partials/show/sets_extended_view", :block => block, :sets => sets %>
    <% end %>

    <div class="block-info">
      <%# EXTRA BLOCK FIELDS %>
      <div class="extra-block-fields">
        <%# NOTE %>
        <% unless block.note.nil? || block.note.empty? %>
          <p><i class="fa-solid fa-note-sticky"></i> <%=block.note%></p>
        <% end %>
        <%# GEAR %>
        <% unless block.gear.nil? || block.gear.empty? %>
          <p><i class="fa-solid fa-gear"></i></i> <%= block.gear%></p>
        <% end %>
        <%# REST BETWEEN SETS %>
        <% unless block.rest_between_sets.nil? || block.rest_between_sets.empty? %>
          <p><i class="fa-solid fa-stopwatch"></i> <%= block.rest_between_sets%></p>
        <% end %>
        <% if block.custom_field.is_a?(Hash) %>
          <% block.custom_field.each do |key, value| %>
            <p><%= key.capitalize %>: <%= value %></p>
          <% end %>
        <% end %>
      </div>
    </div>

      <%# EDIT AND DESTROY BLOCK%>
    <div class="block-controls">
      <% if current_user == @session.user %>
          <%# EDIT BLOCK %>
          <a class="btn-delete purple-black" data-bs-toggle="modal" data-bs-target="#editBlockModal<%= block.id %>">
            <i class="fa-solid fa-pen-to-square"></i> Edit
          </a>
          <%# EDIT BLOCK FORM %>
          <%= render "partials/forms/edit_block_form", :block => block, :@session => @session %>
          <%# DESTROY %>
          <%= link_to session_block_path(@session, block.id),class: "btn-delete purple-black", data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash-can"></i> Delete
          <% end %>
      <% end %>
    </div>


  </div>
  <%# END OF BLOCK CARD %>
<% end %>
