
  <div class="modal fade" id="modal_session_<%= session.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> <%= session.title %> </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= session.comment %>
        </div>
        <div class="modal-footer d-block">
          <div class="session-icon">
            <div class="icons-left">
              <i class="m-3 fav-icon fa-regular fa-heart"></i>
            </div>
            <%= link_to exercise_session_path(session[:id]) do %>
              <i class="modal-icons m-3 fa-solid fa-circle-arrow-right" data-bs-dismiss="modal"></i>
            <% end %>
            <%= link_to "duplicate", session_sessions_duplicate_path(session) %>
          </div>
        </div>
      </div>
    </div>
  </div>
