
<div class="home-wrapper d-flex flex-column">
  <div class="banner">
      <div class="d-flex justify-content-between">
        <i class="app-icon fa-solid fa-bomb">&nbsp;Tracks</i>
      </div>
    <br>
      <div>
        <h3 class="greeting"> Hi&nbsp;<%= current_user.username %>
<<<<<<< HEAD
        <%= image_tag(current_user.photo, alt:"Your avatar", class:"avatar")  %> </h3>
=======
        <%= image_tag(current_user.photo, alt:"Your avatar", class:"avatar")  %>
        </h3>
>>>>>>> 24c78c124a56ac96fa884f9354127e0b3f775589
        <br>
      </div>
  </div>

  <div class="container">
    <h6 class="header-home mt-3">Latest Sessions</h6>
    <div class="sessions">
      <% @sessions.each do |session| %>
        <div data-bs-toggle="modal" data-bs-target="#modal_session_<%= session.id %>">
          <div class="session-card">
            <% if session.photo %>
              <%= image_tag(session.photo, alt:"photo", class:"image-round")  %>
            <% else %>
              <img class="image-round" src="https://787sports.co.uk/wp-content/uploads/2019/02/fotolia_190038155.jpg" alt="default image">
            <% end %>
            <span><%= session.title %></span>
            <%= render "shared/modal", session: session %>
          </div>
        </div>
      <% end %>
    </div>

<<<<<<< HEAD
    <h6 class="header-home"> Friends sessions</h6>
    <div class="sessions">
      <% @friends_sessions.each do |session| %>
        <div data-bs-toggle="modal" data-bs-target="#modal_session_<%= session.id %>">
          <div class="session-card">
              <% if session.photo %>
                <%= image_tag(session.photo, alt:"photo", class:"image-round")  %>
              <% else %>
                <img class="image-round" src="https://787sports.co.uk/wp-content/uploads/2019/02/fotolia_190038155.jpg" alt="default image">
              <% end %>
            <span><%= session.title %></span>
            <%= render "shared/modal", session: session %>
          </div>
        </div>
=======
  <h6 class="header-home"> Friends sessions</h6>
  <div class="sessions">
    <% @friends_sessions.each do |session| %>
      <%= link_to exercise_session_path(session), class: "session-card" do %>
          <% if session.photo %>
            <%= image_tag(session.photo, alt:"photo", class:"image-round")  %>
          <% else %>
            <img class="image-round" src="https://787sports.co.uk/wp-content/uploads/2019/02/fotolia_190038155.jpg" alt="default image">
          <% end %>
          <span><%= session.title %></span>
          <div class="session-icon">
            <i class="fa-regular fa-pen-to-square"></i>
            <i class="fav-icon fa-regular fa-heart"></i>
          </div>
>>>>>>> 24c78c124a56ac96fa884f9354127e0b3f775589
      <% end %>
    <% end %>
  </div>

  <h6 class="header-home">Friend suggestions</h6>
  <div class="sessions">
    <% @suggested_friends.each do |user| %>
      <%= link_to friendships_path(user), class: "session-card", data: { turbo_method: "post" } do %>
          <% if user.photo %>
            <%= image_tag(user.photo, alt:"photo", class:"image-round-small")  %>
          <% else %>
            <img class="image-round-small" src="https://787sports.co.uk/wp-content/uploads/2019/02/fotolia_190038155.jpg" alt="default image">
          <% end %>
          <span><i class="fa-solid fa-user-plus">&nbsp;&nbsp;</i><%=user.username %></span>
      <% end %>
    <% end %>
    <%= render 'shared/flashes' %>
  </div>

</div>
<div class="bottom-icon">
  <%= create_session_button %>
</div>

</div>


  <%#   <div class="session-icon">
      <i class="fa-solid fa-user-plus"></i>
      <i class="fa-solid fa-user-minus"></i>
    </div> %>
