<div class="banner greeting">
    <h1>Tracks</h1>
    <%= image_tag(current_user.photo, alt:"Your avatar", class:"avatar")  %>
</div>
<div class="container">
    <h4 class="header-home">Latest Sessions</h4>
    <div class="sessions">
      <% @sessions.each do |session| %>
        <div data-bs-toggle="modal" data-bs-target="#modal_session_<%= session.id %>">
          <div class="session-card">
            <% if session.photo.attached? %>
              <%= cl_image_tag session.photo.key, height: 100, width: 150, crop: :fill %>
            <% else %>
              <img class="image-round" src="https://787sports.co.uk/wp-content/uploads/2019/02/fotolia_190038155.jpg" alt="default image">
            <% end %>
              <div class="card-info">
                <span><%= session.title %></span>
              </div>
              <%= render "shared/modal", session: session %>
          </div>
        </div>
      <% end %>
    </div>

  <h4 class="header-home"> Friends Sessions</h4>
  <div class="sessions">
    <% @friends_sessions.each do |session| %>
      <div data-bs-toggle="modal" data-bs-target="#modal_session_<%= session.id %>">
        <div class="session-card">
          <% if session.photo.attached? %>
              <%= cl_image_tag session.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <img class="image-round" src="https://787sports.co.uk/wp-content/uploads/2019/02/fotolia_190038155.jpg" alt="default image">
          <% end %>
            <div class="card-info">
              <span><%= session.title %></span>
            </div>
            <%= render "shared/modal", session: session %>
        </div>
      </div>
    <% end %>
  </div>

  <h4 class="header-home">Friend Suggestions</h4>
    <% @suggested_friends.each do |user| %>
        <%= link_to friendships_path(user), data: { turbo_method: "post" } do %>
          <div class="card-equipment mb-4 border-2 rounded-4">
            <% if user.photo %>
              <%= image_tag(user.photo, alt:"photo")  %>
            <% else %>
              <img class="image-round-small" src="https://787sports.co.uk/wp-content/uploads/2019/02/fotolia_190038155.jpg" alt="default image">
            <% end %>
            <div class="ms-2 align-items-column">
              <h5 class="mt-1 mb-0"><%= user.username %></h5>
              <p>user status<%#= user %></p>
              <p class="card_details card-action">Click to add Friend</p>
            </div>
          </div>
        <% end %>
    <% end %>
    <%= render 'shared/flashes' %>
</div>
