<%= link_to root_path, {:class=>"btn-back"} do%>
  <i class="fa-solid fa-chevron-left"></i>
<% end %>
<div class="header-duplicate">
  <h3>Tracks</h3>
</div>
<div class="card-duplicate">
  <div class="container-duplicate">
    <%= simple_form_for(@duplicate_session) do |f| %>
      <%= f.hidden_field :session_id, { value: @session.id }  %>
      <%= f.input :title %>
      <%= f.input :date, as: :date, html5: true, required: false %>
      <%= f.association :sport, required: false %>
      <%= label_tag("Can't find your Sport?")%>
      <%= text_field_tag(:sport_input, '', class: "form-control string optional")%>
      <%= f.input :comment %>
      <div class="d-flex justify-content-center">
        <%= f.submit "Save", class: "btn-create" %>
      </div>
    <% end %>
  </div>
</div>
