<div class="banner greeting">
      <h3>Hi&nbsp;<%= current_user.username %></h3>
    <%= image_tag(current_user.photo, alt:"Your avatar", class:"avatar")  %>
</div>
<div class="container">
  <h4 class="header-home">All Sessions</h4>

  <% @sessions.each do |session| %>
    <%=link_to exercise_session_path(session[:id]) do %>
      <div class="dash-card-equipment mb-4 d-flex border-2 rounded-4">
        <% if session.photo %>
          <%= image_tag(session.photo, alt:"photo")  %>
        <% else %>
          <img class="image-round" src="https://787sports.co.uk/wp-content/uploads/2019/02/fotolia_190038155.jpg" alt="default image">
        <% end %>
        <div>
          <h5 class="mt-3 mb-1"><%= session.title %></h5>
          <p class="mb-1"><%= truncate(session.comment, :length => 28) %></p>
          <%# <p><%= session.date %></p>
          <p class="date-dash mt-2"><%= session.created_at.strftime('%B %d, %Y at %H:%M %p') %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
