<div class="banner greeting">
      <h3>Hi&nbsp;<%= current_user.username %></h3>
    <%= image_tag(current_user.photo, alt:"Your avatar", class:"avatar")  %>
</div>
<div class="container">
  <h4 class="header-home">All Sessions</h4>
  <div class="sessions">
    <% @sessions.each do |session| %>
      <%= link_to link_to exercise_session_path(session[:id]) do %>
          <div class="card-equipment mb-4 border-2 rounded-4">
            <% if session.photo %>
              <%= image_tag(session.photo, alt:"photo", class:"image-round")  %>
            <% else %>
              <img class="image-round" src="https://787sports.co.uk/wp-content/uploads/2019/02/fotolia_190038155.jpg" alt="default image">
            <% end %>
              <div class="ms-2 align-items-column">
                <h5 class="mt-1 mb-0"><%= session.user.username %></h5>
                <p><%= session.user.sessions.last.comment %></p>
                <p class="card_details card-action">Click to add Friend</p>
              </div>
              <%= render "shared/modal", session: session %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
