<h1><%= @session.title %></h1>
<h2><%= @session.sport.name %></h2>
<ol class = "block-container">
  <%= render "partials/block_card" %>
</ol>

<%# NEW BLOCK %>
<div class="block-card">
  <p><strong>New Block</strong></p>
  <%= simple_form_for([@session, @block]) do |f| %>
    <%= f.input :name, required: true %>
    <%= f.input :note %>
    <%= f.input :gear %>
    <%= f.input :rest_between_sets %>
    <%= f.input :custom_field %>
    <%= f.submit 'Save', class: 'btn-main form-actions' %>
  <% end %>
</div>
