<div class = "session-banner">
  <h1><%= @session.title %></h1>
  <%= render "partials/edit_session" %>
</div>
<%= link_to exercise_session_path(@session),class: "btn-delete", data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } do %>
  <i class="fa-solid fa-trash-can"></i>
<% end %>

<ol class = "block-container">
  <%= render "partials/block_card" %>
</ol>

<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#newBlockModal">
  <i class="fa-solid fa-circle-plus"></i> Block
</button>
<%= render "partials/new_block_card" %>
